@import services.DashboardService.WatchedFile
@(watchedFiles: Seq[WatchedFile], configuration: String)

@main("Dashboard") {

    <div class="col-xs-12">

        <h2>Files</h2>
        <table class="table table-bordered">
            <tr>
                <th>Source file</th>
                <th>Target file</th>
                <th>Status</th>
            </tr>
            @for( file <- watchedFiles) {
                <tr id="file-@file.uniqueId">
                    <td>
                        @file.sourceFileName <br> <label class="sourceFileStatus"></label>
                    </td>
                    <td>
                        @file.targetFileName <br> <label class="targetFileStatus"></label>
                    </td>
                    <td>
                        <label class="syncedStatus" style="color: grey ;">Initializing ...</label>
                    </td>
                </tr>
            }
        </table>

    </div>

    <div class="col-xs-12">
        <h2>Configuration</h2>
        <form action="@routes.DashboardController.saveConfiguration()" method="post">
            <textarea name="configuration" class="form-control" rows="20">@configuration</textarea>
            <br>
            <input type="submit" value="Save"/>
        </form>
    </div>

    <script>

            var wsc = new WebSocket('ws://' + window.location.host + "@routes.DashboardController.socket()");
            wsc.onmessage = function (event) {
                var data = JSON.parse(event.data);
                if (data.file) {
                    var fileRow = $('#file-' + data.file);
                    if (data.sourceFileStatus) {
                        fileRow.find('.sourceFileStatus').text(data.sourceFileStatus);
                    }
                    if (data.targetFileStatus) {
                        fileRow.find('.targetFileStatus').text(data.targetFileStatus);
                    }
                    if (data.syncedStatus) {
                        fileRow.find('.syncedStatus').text(data.syncedStatus);
                    }
                    if (data.color) {
                        fileRow.find('.syncedStatus').css('color', data.color);
                    }
                }
                if (data.reloadConfiguration) {
                    window.location = '@routes.DashboardController.index()';
                }
            }
    </script>

}
